.try-it-out {
    background: #1c1729;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #0a0a14 #170f29 #332e40 #131020;
    padding: 10px;
    margin-top: 12px;
}
