div.bifrost-downloads-badge {
    height: 0;
    float: right;
    right: 80px;
    top: 20px;
    position: relative;
    color: rgb(171,71,188);
    text-align: center;

    div.bifrost-download-badge-label {
        &.downloads-count {
            margin-top: 0.5rem;
            & span {
                font-size: 36px;
                color: rgb(236, 80, 255);
            }
        }

        &.downloads-txt {
            font-weight: 600;
            line-height: 0.6rem;
        }
    }
}
