.flag-table {


}

.table th, .table td {
  font-size: 1em;
  line-height:  1.4em;
}

.table th.flag, .table td.flag {
  font-size: 1.2em;
  //font-weight: bold;
}


.flag {
  width: 45%;
  color: white;

}

.flag-value {
  color: #9e93bb
}
