@media (max-width: 420px) {
    h1 {
        font-size: 2.0em;
        margin-top: 0px;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 0;
        line-height: 1.2em;
    }

    .video {
        width: 350px;
        height: 240px;
        border: none;
        margin-top: 10px;
    }


}

.video {
    width: 1000px;
    height: 562px;
    border: none;
    margin-top: 30px;
}

clr-accordion {
    margin-top: 30px;
}
