<h1>
    Bifröst Example Client
</h1>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <task-box [channel]="taskChannelA" [title]="taskTitleA"></task-box>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <task-box [channel]="taskChannelB" [title]="taskTitleB"></task-box>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--Metrics Stream A (Fast)-->
            <!--</div>-->
            <!--<div class="card-block">-->
                <!--<div class="card-text">-->
                        <!--<metrics-chart [metricsChannel]="metricsChannelA"></metrics-chart>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--Metrics Stream B (Slow)-->
            <!--</div>-->
            <!--<div class="card-block">-->
                <!--<div class="card-text">-->
                    <!--<metrics-chart [metricsChannel]="metricsChannelB"></metrics-chart>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
