.particle-header {
    position: relative;
    width: 150px;
    height: 50px;
    border: 1px solid red;
}
label.docs-home {
    font-size: 1.3em;
}


@media screen and (max-width: 768px) {
    .main-container .header-nav.clr-nav-level-2, .main-container .subnav.clr-nav-level-2, .main-container .sub-nav.clr-nav-level-2, .main-container .sidenav.clr-nav-level-2, .main-container .clr-vertical-nav.clr-nav-level-2 {
        background:  #211b31;
    }
}
