<clr-main-container>
    <appfab-header></appfab-header>
    <div class="content-container">
        <div class="content-area">
            <section id="fabric-intro">
                <div id="fabric-bg-image">
                </div>
                <div id="fabric-bg">
                </div>
                <div id="fabric-banner">
                    <h1>
                        <img src="/assets/fabric-icon-white.svg" alt="Application Fabric Logo" class="fabric-logo">
                        <span class="white">Application</span><span class="bold">Fabric</span>
                    </h1>
                    <p>&nbsp;</p>
                    <h3>Enabling hybrid user experiences across any VMware service.</h3>
                </div>
            </section>
            <section id="welcome-content">
                <h1>Coming Soon.</h1>

                <h2>
                    Vote for Application Fabric Booth at RADIO 2019!
                    <a href="https://submissions.eng.vmware.com/radio-expo-2019/submissions/15996" class="btn btn-primary-outline" style="color: white">Click To Vote!</a>
                </h2>

                <br/><br/>
                <h3>
                    Check back daily. Docs are updated very frequently.
                </h3>
                <h4>Join us in #appfabric</h4>


            </section>
        </div>
    </div>
    <footer-component></footer-component>
</clr-main-container>

