<clr-main-container>
    <appfab-header></appfab-header>
    <div class="content-container">
        <div class="content-area">
            <section id="fabric-intro">
                <div id="fabric-bg-image">
                </div>
                <div id="fabric-bg">
                </div>
                <div id="fabric-banner">
                    <h1>
                        <img src="/assets/fabric-icon-white.svg" alt="Application Fabric Logo" class="fabric-logo">
                        <span class="white">Application</span><span class="bold">Fabric</span>
                    </h1>
                    <h3>Enabling hybrid user experiences across any VMware service.</h3>
                </div>
            </section>
            <section id="welcome-content">
                <iframe src="https://video.eng.vmware.com/videos_embed/application-fabric-developer-experience" width="854px" height="480px" style="border: none" allowfullscreen="allowfullscreen"></iframe>

                <h1>Check us out at RADIO 2019.</h1>

                <h2>
                    Java & Sewing Machine documentation under active development.
                </h2>

                <br/><br/>
                <h3>
                    Check back daily. Docs are updated very frequently.
                </h3>
                <h4>Join us in #appfabric</h4>

            </section>
        </div>
    </div>
    <footer-component></footer-component>
</clr-main-container>

