.main-container {
    background-color:#211b31;
}

h1 {
    color: #645982
}

h2 {
    color: #8b81a7
}


h3 {
    color: #b3aacc;
}


h4 {
    color: #d5cee6;
}

body p {
    color: #dcd3f5;
}
a:visited, a:link {
    color: #c2abff;
}

.sidenav .nav-group .nav-list .nav-link:hover {
    background-color: #2a223e;
}

.sidenav .nav-group .nav-list .nav-link.active {
    background-color: #2a223e;
}

.sidenav .nav-group label {
    color: #cebff7;
}

.sidenav {
    border-right: 2px solid #2a223e;
    min-width: 12rem;
}

header .header-nav .nav-link.active, .header .header-nav .nav-link.active {
    background: rgb(28, 23, 41);
    border-right: 1px solid #3a2b52;
    border-left: 1px solid #3a2b52;
}
