<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="/">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Application Fabric: Coming Soon</span>
      </a>
    </div>
    <div class="header-nav">
      <!--<a routerLink="/documentation" routerLinkActive="active" class="nav-link nav-text">Documentation</a>-->
      <!--<a routerLink="/demos" routerLinkActive="active" class="nav-link nav-text">Demos</a>-->
    </div>
    <div class="header-actions">
      <!--<a href="javascript://" class="nav-link nav-icon">-->
        <!--<clr-icon shape="cog"></clr-icon>-->
      <!--</a>-->
    </div>
  </header>
  <router-outlet></router-outlet>
</div>

