<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="/">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">VMware Application Fabric</span>
            </a>
        </div>
        <div class="header-nav">
            <!--<a routerLink="/documentation" routerLinkActive="active" class="nav-link nav-text">Documentation</a>-->
            <!--<a routerLink="/demos" routerLinkActive="active" class="nav-link nav-text">Demos</a>-->
        </div>
        <div class="header-actions">
        </div>
    </header>
    <router-outlet></router-outlet>
    <section id="footer">
        &copy; {{date}} Cloud Platform Business Unit, VMware Inc.
    </section>
</div>

